 /* table{
    border-color:green;
    border-style: solid;
    border-width: 3px;
}
td{
    border-color: green;
    border-width: 3px;
    border-style: solid;
}  */
  /* td{
    border-color:red;
    border-width:2px
 }  */
   table{
    border-color: green;
    border-width: 3px;
    border-style: solid;
  }
  td{
    border-color: green;
    border-width: 3px;
    border-style: solid;
  } 