.yndhanur{
    width: 100%;
    height: fit-content;

}
.seri{
    width: 66.76%;
    height: 80px;
    background-color: rgb(230, 229, 229);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
}
.pineappleicon  {
font-size: 40px;
font-weight: bold;
color: #4e4e4e;
}
.pineappleicon i{
    font-size: 45px;
    text-shadow: 0 10px 12px rgb(107, 104, 104);
}
.dexin{
    width: 66.76%;
    height: 40px;
    background-color: rgb(255, 242, 0);
    display: flex;
    padding: 0 250px;
}
.box{
  width: 90px;
  background: none;
  border: none;
} 
.box1{
    width: 90px;
  background: rgb(255, 255, 80);
  border: none;

}
.enter{
    width: 53%;
    height: 20px;
    text-align: end; 
    margin: 10px 0;  
}
.enter input{
    background: rgb(200, 180, 50);
   border: none;
   
}
.enter ::placeholder{
    color: white;   
}
.gic{
    width: 89px;
    border: 1px solid rgb(170, 130, 0);
    margin: 0 250px;
    box-shadow: 0 4px 8px #786f07;
}
.text1{
    width: 66%;
    height: fit-content;
    /* border: 1px solid; */
    margin: 0 250px;
}
.mec{
    font-family: sans-serif;
}
.poqr span{
    color: rgb(255, 242, 0);
}
.karmir1{
    width: 150px;
    height: 30px;
    border: 1px solid gray;
    margin: 20px 830px;
    display: flex;
    background-color: #dbdbdb;
}
.slaq1 i{
    width: 30px ;
    height: 30px;
    text-align: center;
    margin: 7px 4px;
    color: #4e4e4e;
    
}
.k button{
    width: 113px;
    height: 30px;
    background-color: rgb(192, 4, 4);
    border: none;
    color: white;
}
.gicerkar{
    width: 99%;
    border: 1px solid rgb(162, 162, 162);
    margin: 20px 0;
}
.mega{
    color: rgb(85, 46, 9);
    font-family: sans-serif;
}
.nkarner1, .nkarner2{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
   
}
.nkar, .nkar1{
    width: 28%;
    height: 140px;
    background-color: #f8f8f8;
    box-shadow: 2px 2px 5px 1px rgb(205, 205, 205);
}
.nkar img, .nkar1 img{
    width: 90%;
    height: 120px;
    margin: 10px 13px;
}
.nkar em, .nkar1 em{
    color: rgb(214, 188, 17);
}
.nkar p, .nkar1 p{
    margin: 5px 0;
}
.lriv{
    width: 64.5%;
    height: 260px;
    display: flex;
    justify-content: space-between;
    padding: 0 270px;
    /* border: 1px solid */
    

}
.dexin1{
    width: 100%;
    height: 20px;
    background-color: yellow;
}
.dexin3{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 242, 0);
    line-height: 1.1;
    font-family: sans-serif;
    color: rgb(59, 59, 59);
    
}
.events, .event{
    width: 20%;
    height: fit-content;
    
}
.dexin3 p{
   font-size: 12px;
}
.twitter i{
    font-size: 19px;
   color: rgb(67, 67, 255);
   border-radius: 8px;
   background-color: white;
}
.wifi i{
    font-size: 19px;
    color: orange;
    background-color: white;
    border-radius: 2px;
}
.dexin5{
    width: 100%;
    height: 40px;
    background-color: #b5a604;
}
.companyname{
    width: 240px;
    height: 20px;
    color: white;
    padding: 0 270px;
    
}
.home{
    width: 83%;
    height: 20px;
    color: white;
    font-size: 10px;
    text-align: end;
}
.home span{
    margin: 0 8px;
}



